@font-face{ 
	font-family: myFirstFont;
	src: url("./RPGSystem.ttf");
}

progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 20px;
	background-color: hsl(256, 15%, 14%);
	border-width: 0px;
}
progress::-webkit-progress-bar {
	background-color: hsl(256, 15%, 14%);
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress::-webkit-progress-value {
	background-color: crimson;
	border-radius: 2px; 
	background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress.mana-progress::-webkit-progress-value 
{
	background-color: steelblue;
}

progress::-moz-progress-bar {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::-moz-progress-bar {
	background-color: crimson;
}

progress.mana-progress::-moz-progress-bar 
{
	background-color: steelblue;
}

Body
{
	color:hsl(349, 19%, 45%);
}
.custom-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
}

.custom-menu li {
	padding: 8px 12px;
	cursor: pointer;
}

.custom-menu li:hover {
	background-color: #DEF;
}

.btn-primary {
	background-color: hsl(256, 13%, 28%);
	color: hsl(256, 15%, 14%);
	height: 25px;
	text-align: center;
	padding-bottom: 7px;
}


input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px hsl(318, 11%, 35%) inset !important;
}

@supports (-moz-appearance:none)  {
	.btn-primary {
		/* box-shadow: 5px 5px 5px black; */
		border-width: 0.5px;
		border-top-color: gray;
		border-left-color: gray;
		border-right-color: black;
		border-bottom-color: black;
	}
	input {
		border-width: 0.5px;
		border-top-color: gray;
		border-left-color: gray;
		border-right-color: black;
		border-bottom-color: black;
	}
	select {
		border-width: 0.5px;
		border-top-color: gray;
		border-left-color: gray;
		border-right-color: black;
		border-bottom-color: black;
	}
	textarea {
		border-width: 0.5px;
		border-top-color: gray;
		border-left-color: gray;
		border-right-color: black;
		border-bottom-color: black;
	}
}

.buy-button {
	margin-left: 15px;
	margin-bottom: 10px;
}

.buy-label {
	margin-left: 5px;
}

input {
	background-color: hsl(318, 11%, 35%);
}

textarea {
	background-color: hsl(318, 11%, 35%);
}

select {
	background-color: hsl(318, 11%, 35%);
}

.modal-dialog {
	background-color: hsl(235, 22%, 20%);
	color: hsl(349, 19%, 45%);
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	width:85%;
	display: none;
	overflow: auto;
	z-index: 99;
	position: absolute;
	top: 50px;
	left: 0; 
	bottom: 50px; 
	right: 0;
	margin-left: auto;
  	margin-right: auto;
  	vertical-align: middle;
}

.log-tab {
	float:left;width:100%;
	width:33.33333%;
	resize: none; 
	grid-column: 1/-1; 
	grid-row: 3;
	border-bottom:6px solid #ccc;
}

.border-red {
	border-color:#f44336;
}

hover-light-grey:hover{
	color:#000;
	background-color:#f1f1f1;
}

.log {
	height: 
	600px; 
	resize: none; 
	grid-column: 1/-1; 
	grid-row: 4;
}

.highligtedButton {
	border-color: goldenrod;
}

.vote-button {
	max-width: 100%; 
	max-height: 100%;
}

* {
	font-family: myFirstFont;
	font-size: 18px;
}
