.player-class-column-divider {
	width: 100%; 
	display: flex; 
	padding-top: 5px;
}

.playerClassSelectorTable {
	border-spacing: 0px;
	border: solid; 
	border-color: var(--border-colour); margin-left: 5px;
}

.playerClassSelectorRow:hover {
	background-color: var(--border-colour);
	font-style: italic;
}

.playerClassSelectorRowSelectedRow {
	background-color: var(--border-colour);
	font-style: italic;
}

.playerClassSelectorRowPlayerClassQuickDescription {
	width: 100%;
	padding-left: 0px;
}
