.player-Class-dialog {
	width: 50%;
}

.player-class-column-divider {
	width: 100%; 
	display: flex; 
	padding-top: 5px;
}

.playerClassSelectorTable {
	border-spacing: 0px;
	border: solid; 
	border-color: var(--border-colour); margin-left: 5px;
}

.playerClassSelectorRow:hover {
	background-color: var(--border-colour);
	font-style: italic;
}

.playerClassSelectorRowSelectedRow {
	background-color: var(--border-colour);
	font-style: italic;
}

.playerClassSelectorRowPlayerClassQuickDescription {
	width: 100%;
	padding-left: 0px;
}

.player-class-selector-left-pane-column {
	width: 100%;
	float:left; 
	padding-left: 5px; 
	border: solid; 
	color: var(--border-colour); 
	margin-left: 5px; 
	margin-right: 5px; 
}

.player-class-selector-left-pane-container {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	grid-auto-rows: minmax(1080, auto); 
	gap: 10px; 
	color: var(--default-font-colour); 
	padding-top: 15px;
}

.playerClassSelectorLeftPaneTitle {
	text-align: center; 
	font-size: xx-large;
}

.player-class-selector-left-pane-sprite {
	border: solid; 
	border-color: var(--border-colour);
	place-self: center;
}

.player-class-selector-right-pane-column {
	width: 35%;
	float:right; 
	padding-right: 5px;
	border: solid; 
	color: var(--border-colour); 
	margin-left: 5px; 
	margin-right: 5px;
}

.masculin-feminine-slider {
	place-self: center;
}

.masculine-feminine-slider-symbol {
	float: left;
}
