@font-face {
	font-family: myFirstFont;
	src: url("./RPGSystem.ttf");
}

:root {
	--wallpaper-background-colour: hsl(235, 22%, 20%);
	--border-colour: hsl(256, 13%, 28%);
	--shadow-colour: hsl(256, 15%, 14%);
	--text-background-colour: hsl(318, 11%, 35%);
	--default-font-colour: hsl(349, 19%, 45%);
	--menu-border-colour: hsl(0, 0%, 80%);
}

progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 20px;
	background-color: var(--shadow-colour);
	border-width: 0px;
}

progress::-webkit-progress-bar {
	background-color: var(--shadow-colour);
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
	background-color: crimson;
	border-radius: 2px;
	background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress.mana-progress::-webkit-progress-value {
	background-color: steelblue;
}

progress::-moz-progress-bar {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::-moz-progress-bar {
	background-color: crimson;
}

progress.mana-progress::-moz-progress-bar {
	background-color: steelblue;
}

.hp-mana-label {
	display: inline-block;
	width: 50px;
}

Body {
	color: var(--default-font-colour);
}

.custom-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid var(--menu-border-colour);
	white-space: nowrap;
	border-radius: 5px;
}

.custom-alert {
	padding: 10px;
	color: black;
	background-color: var(--text-background-colour);
}

.wallpaper {
	background-color: var(--wallpaper-background-colour);
}

.login-group {
	float: right;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(1080, auto);
	gap: 10px;
}

.custom-menu li {
	padding: 8px 12px;
	cursor: pointer;
}

.custom-menu li:hover {
	background-color: var(--border-colour);
	font-style: italic;
}

.btn-primary {
	background-color: var(--border-colour);
	color: var(--shadow-colour);
	height: 25px;
	text-align: center;
	padding-bottom: 7px;
	cursor: pointer;
}


input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px var(--text-background-colour) inset !important;
	box-shadow: 0 0 0 30px var(--text-background-colour) inset !important;
}

@supports (-moz-appearance:none) {
	.btn-primary {
		/* box-shadow: 5px 5px 5px black; */
		border-width: 0.5px;
		border-top-color: gray;
		border-left-color: gray;
		border-right-color: black;
		border-bottom-color: black;
	}

	input {
		border-width: 0.5px;
		border-top-color: gray;
		border-left-color: gray;
		border-right-color: black;
		border-bottom-color: black;
	}

	select {
		border-width: 0.5px;
		border-top-color: gray;
		border-left-color: gray;
		border-right-color: black;
		border-bottom-color: black;
	}

	textarea {
		border-width: 0.5px;
		border-top-color: gray;
		border-left-color: gray;
		border-right-color: black;
		border-bottom-color: black;
	}
}

.buy-button {
	margin-left: 15px;
	margin-bottom: 10px;
}

.buy-label {
	margin-left: 5px;
}

input {
	background-color: var(--text-background-colour);
}

textarea {
	background-color: var(--text-background-colour);
}

select {
	background-color: var(--text-background-colour);
}

.modal-dialog-generic {
	background-color: var(--wallpaper-background-colour);
	color: var(--default-font-colour);
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	width: 85%;
	display: none;
	overflow: auto;
	z-index: 99;
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 50px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.log-tab {
	float: left;
	width: 100%;
	width: 33.33333%;
	resize: none;
	grid-column: 1/-1;
	grid-row: 3;
	border-bottom: 6px solid #ccc;
}

.border-red {
	border-color: #f44336;
}

hover-light-grey:hover {
	color: #000;
	background-color: #f1f1f1;
}

.log {
	height:
		600px;
	resize: none;
	grid-column: 1/-1;
	grid-row: 4;
}

.highligtedButton {
	border-color: goldenrod;
}

.vote-button {
	max-width: 100%;
	max-height: 100%;
}

.title {
	font-size: 60px;
	margin-top: 0px;
}

.flex {
	display: flex;
	width: 100%;
}

.hidden {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

column {
	border: solid;
	color: var(--border-colour);
	margin-left: 2px;
	margin-right: 2px;
}

.left-column {
	float: left;
	flex: 25%;
}

.centre-column {
	float: left;
	flex-grow: 1;
	flex-shrink: 0;
}

.right-column {
	float: right;
	flex: 20%;
}

.inner-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(1080, auto);
	gap: 10px;
	color: var(--default-font-colour);
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.grid-col1-grid-row1 {
	grid-column: 1;
	grid-row: 1;
}

.grid-col1-grid-row2 {
	grid-column: 1;
	grid-row: 2;
}

.grid-col1DIV3-grid-row3 {
	grid-column: 1/3;
	grid-row: 3;
}

.center-browser-div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.max-size-100-percent {
	max-width: 100%;
	max-height: 100%
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 17px;
	top: 19px;
	margin-right: 5px;
	margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--shadow-colour);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 11px;
	width: 13px;
	left: 4px;
	bottom: 4px;
	background-color: var(--default-font-colour);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(38px);
}

.slider.round {
	border-radius: 17px;
}

.slider.round:before {
	border-radius: 50%;
}

credits {
	display: flex;
	justify-content:space-evenly;
}

* {
	font-family: myFirstFont;
	font-size: 18px;
}
