@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
	<h1 class="display-4">Status</h1>
</div>

<div class="column" style="float:left">
    <canvas id="mainCanvas" width="300" height="300" style="border:1px solid #000000;">
    </canvas>
    <script>
        function init() {
            window.requestAnimationFrame(ts_draw);
        }

        function ts_draw() {
            Draw()
            window.requestAnimationFrame(ts_draw);
        }

        init();
    </script>
</div>
<div class="column">
    <div id="ts-example">
        <br />
        <button type="button" class="btn btn-primary btn-md" onclick="SendTestGETRequest()">
            SendTestGetRequest()
        </button>
        <button type="button" class="btn btn-primary btn-md" onclick="SendTestPOSTRequest()">
            SendTestPOSTRequest()
        </button>
    </div>
</div>